<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.poppulo.util.ExtentReportListener"/>
	</listeners>
  <test  name="Test"  thread-count="5">
    <classes>
      <class name="com.poppulo.employee_api_basetest.BaseTest"/>
      <class name="com.poppulo.employee_api_tests.CreateEmployeeAPITests"/>
      <class name="com.poppulo.employee_api_tests.GetEmployeeAPITest"/>
      <class name="com.poppulo.employee_api_tests.UpdateEmployeeAPITest"/>
      <class name="com.poppulo.employee_api_tests.DeleteEmployeeTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
